.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;   /* Change if needed */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.loader img {
  width: 130px;
  animation: smoothFade 2.2s ease-in-out infinite;
}

@keyframes smoothFade {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}
